##### DATABASE #####
POSTGRES_DB=device-command-gateway
POSTGRES_USER=camera_agent
POSTGRES_PWD=

##### MQTT #####
EMQX_DASHBOARD_PWD=
MQTT_HOST=emqx
MQTT_PORT=1883
MQTT_USER=camera_agent
MQTT_PWD=
MQTT_TOPIC_COMMAND=camera/command
MQTT_TOPIC_FEEDBACK=camera/feedback

##### GENERAL #####
WORKER_POOL_SIZE=10
TELNET_TIMEOUT_MS=5000
TELNET_MAX_RETRIES=3